.container {
    display: flex;
    align-items: center;
    justify-content:center;
    
}

#bottom-nav {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid #111;
    padding: 5px;
    background: #111;
    color: #e6e6e6;
}