.featured-shoes-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-shoes-div p {
    font-family: 'Open Sans', sans-serif;
}

.shoe-div {
    display: inline-flex;
    justify-content: space-evenly;
}

.each-shoe img {
    margin-bottom: 15px;
}

.price-p {
    margin-top: 0px;
    color: #5C5C5C;
}

.name-p {
    font-weight: 600;
}

.feature-container {
    padding-top: 20px;
}

#feature-title {
    font-weight: bold;
    font-size: 21px;
    font-family: 'Abril Fatface', cursive;
    margin-left: 15px;
}
